@charset "utf-8";

/* h2 */


.inner .tit {
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 150px;
}

.inner .tit p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--main-grey50);
}

.inner .tit .title_bottom {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}

.inner .tit .title_bottom h2 {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.inner .tit .title_bottom h2>img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.inner .tit .title_bottom .next {
    /* width: 206px; */
    height: 42px;
    background: var(--main-black);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 8px 0 16px;
}

.inner .tit .title_bottom .next p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--main-white);
    white-space: nowrap;
}

.inner .tit .title_bottom .next img {
    width: 24px;
    height: 24px;
    font-size: 10px;
    color: var(--main-white);
}


/* notice */
.notice {
    width: 100%;
    height: 46px;
    background: #222;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.notice .simply-scroll {
    display: flex;
    cursor: pointer;
}

.noticeAni {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.simply-scroll .simply-scroll-clip {
    overflow: hidden;
    /* 있어야 움직임 */
    display: flex;
}

.notice ul {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.notice ul li {
    gap: 16px;
    flex: 1;
}

.notice ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-white);
    font-family: var(--nanumGothic);
    letter-spacing: 1.2px;
    font-size: 0.75em;
}

.notice ul li a img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.notice ul li a p {
    padding: 0 16px;
    color: var(--sub-yellow);
    border-right: 1px solid var(--main-white);
    letter-spacing: 0.9px;
}

.notice ul li a span {
    padding: 0 16px;
    
}

/* hero */
.hero {
    width: 100%;
    height: 812px;
    background: linear-gradient(#E8F8FE, #7CD3FF);
    overflow: hidden;
    position: relative;

}

.main_vector {
    width: 100%;
    height: 332px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.main_vector img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .inner {
    height: 100%;
    position: relative;
}



/* main select */

/* .main_top {
    width: 362px;
    height: 60px;
    position: absolute;
    left: 35%;
    top: 55%;
    transform: translateX(-50%);
    background: var(--main-white);
    border-radius: 100px;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
} */

.dropdown-group {
    position: absolute;
    left: 35%;
    top: 60%;
    transform: translateX(-50%);
    z-index: 100;
    background: var(--main-white);
}

.dropdown {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    gap: 12px;

}

.dropdown-toggle {
    width: 130px;
    padding: 8px 14px;
    font-size: 15px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
    min-width: 140px;
}

.dropdown-menu {
    position: absolute;
    top: 110%;
    left: 0;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 6px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown.open .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu li {
    list-style: none;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #f2f2f2;
}




.main_both {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .inner .main_visual {
    width: 834px;
    height: 834px;
    position: relative;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    background: var(--main-white);
    border-radius: 50%;

}

.hero .inner .main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}



.main_right {
    width: 360px;
    height: 664px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}


.main_right .main_right_top {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 10px 10px;
    background: var(--main-white);
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.main_right .main_right_top .main_right_top_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 10px;
    padding: 0 10px 10px;
}

.main_right .main_right_top .main_right_top_inner .main_right_top_tit {
    width: 100%;
    padding: 0 8px;
}

.main_right .main_right_top .main_right_top_inner .main_right_top_tit span {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--main-white);
    padding: 5px 10px;
    background: #03C72D;
    margin-bottom: 12px;
    border-radius: 30px;
}



.main_right .main_right_top .main_right_top_inner .main_right_top_tit h2 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--nanumRound);
    margin-bottom: 8px;

}

.main_right .main_right_top .main_right_top_inner .main_right_top_tit h2 img {
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.main_right .main_right_top .main_right_top_inner .main_right_top_tit p {
    font-size: 0.7rem;
    line-height: 150%;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-grey50);
    font-weight: 500;
}


.main_right .main_right_top .main_today {
    width: 100%;
    height: auto;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background: var(--main-light-grey);
    border-radius: 15px;
}

.main_right .main_right_top .main_today .main_today_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


.main_right .main_right_top .main_today .main_today_img img {
    width: 40px;
    height: 38px;
    object-fit: cover;
}

.main_right .main_right_top .main_today .main_today_img p {

    font-size: 0.7rem;
    font-family: var(--nanumRound);
    white-space: nowrap;
}

.main_right .main_right_top .main_today .main_today_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
    gap: 6px;
}

.main_right .main_right_top .main_today .main_today_txt h3 {
    font-family: var(--nanumRound);
    font-size: 2rem;
    font-weight: 700;
}



.main_right .main_right_top .main_today .main_today_txt .main_today_txt_scale {
    display: flex;
    gap: 4px;
    font-size: 0.8rem;

}

.high {
    color: #FB4023;
}

.low {
    color: #1C68FF;
}

.main_right .main_right_top .main_today ul.main_today_sun {
    display: flex;

    font-weight: 500;
    gap: 4px;
}

.main_right .main_right_top .main_today ul.main_today_sun li {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid var(--stroke-lightgrey);
    background: var(--main-white);
    font-size: 0.8rem;

}

.main_right .main_right_top .main_today ul.main_today_sun li span {
    font-weight: 400;
    color: var(--main-grey70);
}

.main_right .main_right_top .main_today ul.main_today_sun li p {
    font-family: var(--nanumRound);
}




.main_right .main_right_top .main_right_go {
    width: 100%;
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--main-light-grey);
}

.main_right .main_right_top .main_right_go:hover {
    background: var(--hover-bg);
}

.main_right .main_right_top .main_right_go>img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.main_right .main_right_top .main_right_go>p {
    flex: 1;
    font-size: 0.9rem;
}

.main_right .main_right_top .main_right_go ul.go_icons {
    width: 52px;
    height: 20px;
    display: flex;
    gap: 12px;
}

.main_right .main_right_top .main_right_go ul.go_icons>li>a {
    width: 20px;
    height: 100%;
}

.main_right .main_right_top .main_right_go ul.go_icons>li>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_right .main_right_bottom {
    width: 100%;
    background: var(--main-white);
    margin-top: 8px;
    border-radius: 10px 10px 30px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.main_right .main_right_bottom ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_right .main_right_bottom ul li a {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid var(--stroke-lightgrey);
}

.main_right .main_right_bottom ul li:hover a {
    background: var(--hover-bg);

}


.main_right .main_right_bottom ul li:last-child a {
    border-bottom: 0;
}

.main_right .main_right_bottom>ul li p {
    font-size: 0.9rem;
    font-family: var(--nanumRound);
}

.main_right .main_right_bottom>ul li img {
    width: 16px;
    height: 16px;
}






/* greeting */


.greeting .inner {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
    /* 플렉스 적용되면 clip 깨짐? */
}

.greet {
    width: 100%;
    font-size: 3.4rem;
    font-family: var(--Stunning);
    letter-spacing: -1.36px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.greeting_1 {
    font-size: 1.8rem;
    font-family: var(--pretendard);
}

.greeting_3 {
    display: flex;
    align-self: flex-end;
}

.greeting_3 span {
    color: var(--sub-deepblue);
}

.greeting_4 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.greeting_4 .greeting_line {
    width: 185px;
    height: 8px;
    background: linear-gradient(90deg, #1C68FF, #19B6EF);
}

.greeting_4 h2 {
    color: var(--main-skyblue);
}


.greeting_video {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px
}

/* .video_clip {
  width: 207px;
  height: 207px;
  -webkit-mask: url(#starClip);
  mask: url(#starClip);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  overflow: hidden;
} */

.clipped-video {
    width: 1280px;
    height: 414px;
    clip-path: url(#customClip);
    -webkit-clip-path: url(#customClip);
    /* Safari 대응 */
}

.video_clip video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* info */

.info {
    width: 100%;
    height: 500px;
    background-image: url(../img/info_bg.jpg);
}

.info .inner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .inner ul {
    width: 1180px;
    height: 155px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.info .inner ul li a {}

.info .inner ul li a .info_icon_bg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.info .inner ul li a .info_icon_bg .info_icon_inner {
    width: 90px;
    height: 90px;
    background: var(--main-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .inner ul li a .info_icon_bg.light .info_icon_inner {
    width: 100%;
    height: 100%;
    background: var(--main-white);
    mix-blend-mode: overlay;
    filter: blur(70px);
}

.info .inner ul li a .info_icon_bg .info_icon_inner>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.info>.inner>ul>li>a>p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--main-white);
    text-align: center;
    margin-top: 15px;
}





/* route */

.route .inner {
    /* background: #eee; */
    padding-top: 200px;
    padding-bottom: 250px;
}

.route_contents {
    width: 100%;
    height: 410px;
}

.route_contents ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.route_contents ul li.route_place {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.route_contents ul li.route_place>img {
    width: 100%;
    height: 290px;
    border-radius: 15px;
    object-fit: cover;
}

.route_contents ul li.route_place .route_place_txt {
    width: 100%;
    height: 71px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.route_contents ul li.route_place .route_place_txt>h3 {
    height: 37px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route_contents ul li.route_place .route_place_txt>h3>a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route_contents ul li.route_place .route_place_txt>h3>a>img {
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.route_contents ul li.route_place .route_place_txt>span {
    font-size: 0.8rem;
}


.route_contents ul li.route_time {
    height: 112px;
    flex: 1;
}

.route_contents ul li.route_time img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* congest */
.congest {
    background: var(--main-black);
}

.congest .inner {
    height: 950px;
    /* background: #ccc; */
    padding: 200px 0;
}

.congest .inner .tit {
    color: var(--main-white);
}

.congest .inner .tit .title_bottom a {
    background: var(--main-white);
}

.congest .inner .tit .title_bottom a p {
    color: var(--main-black);
}

.congest .inner .tit .title_bottom a img {}




.congest_contents {
    width: 100%;
    height: 338px;
    display: flex;
}

.congest_contents .congest_circle {
    width: 426px;
    height: 100%;
    position: relative;
}

.congest_contents .congest_circle>button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #34C759;
    border: none;
    outline: none;
    box-shadow: inset 3px 4px 8px rgba(255, 255, 255, 0.3), inset -3px -4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 45%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-family: var(--Soyomaple);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main-white);
    z-index: 50;
    cursor: pointer;
}

.congest_contents .circle1 {
    background: url(../img/circle1.png) center/cover;
}

.congest_contents .circle2 {
    background: url(../img/circle2.png) center/cover;
}

.congest_contents .circle2>button {
    background: #CD1B11;
}

.congest_contents .circle3 {
    background: url(../img/circle3.png) center/cover;
}

.congest_contents .circle3>button {
    background: #FFC509;
}






.congest_contents .congest_circle ul li {
    width: 92px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .6s;
}

.congest_contents .congest_circle:hover ul li {
    opacity: 1;
}



.congest_contents .congest_circle>ul>li:nth-child(1) {
    background: url(../img/congest_comment.png) center/cover;
    position: absolute;
    right: 30px;
    top: 20px;
}

.congest_contents .congest_circle>ul>li:nth-child(2) {
    background: url(../img/congest_comment.png) center/cover;
    position: absolute;
    right: 20px;
    bottom: 80px;
}

.congest_contents .congest_circle>ul>li:nth-child(3) {
    background: url(../img/congest_comment_odd.png) center/cover;
    position: absolute;
    left: 30px;
    top: 20px;
}

.congest_contents .congest_circle>ul>li:nth-child(4) {
    background: url(../img/congest_comment_odd.png) center/cover;
    position: absolute;
    left: 10px;
    bottom: 80px;
}






.congest_contents .congest_circle>ul>li .comment_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.congest_contents .congest_circle>ul>li .comment_txt>span {
    font-size: 0.6rem;
    text-align: center;
}

.congest_contents .congest_circle>ul>li .comment_txt>strong {
    font-size: 1.1rem;
    font-weight: 800;
}



/* place */
.place {
    background: rgba(138, 209, 244, .2);
}

.place .inner {
    padding: 200px 0;
}

.place_contents {
    width: 100%;
    height: 418px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.place_contents article {
    width: 268px;
    height: 355px;
    position: relative;
}

.place_contents article.place_card1 {
    transform: rotate(-15deg);
}

.place_contents article.place_card3 {
    transform: rotate(15deg);
}


.place_contents article .place_card_top {
    width: 100%;
    height: 72px;
    background: var(--main-black);
    color: var(--main-white);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: 3px 3px 4px rgba(51, 54, 67, 0.2);
}

.place_contents article .place_card_top .card_title {}

.place_contents article .place_card_top .card_title span {
    font-size: 0.6rem;
    color: var(--main-grey);
}

.place_contents article .place_card_top .card_title h3 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 6px;
}

.place_contents article .place_card_top .card_star {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.place_contents article .place_card_top .card_star img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.place_contents article .place_card_top .card_star p {
    font-size: 0.7rem;
    font-weight: 500;
}

.place_contents article .place_card_top .card_star em {
    font-size: 0.4rem;
}

.place_contents article .place_card_bottom {
    width: 100%;
    height: 246px;
    background: var(--main-white);
    border-radius: 20px;
    position: relative;
    padding: 0 10px;
    box-shadow: 3px 3px 4px rgba(51, 54, 67, 0.2);

}

.place_contents article .place_card_bottom .place_loca {
    width: 100%;
    font-size: 0.6rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
}

.place_contents article .place_card_bottom .place_loca img {
    width: 14px;
    height: 14px;
    object-fit: cover;
}

.place_contents article .place_card_bottom ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.place_contents article .place_card_bottom ul li {
    font-size: 0.7rem;
    background: var(--main-grey);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    flex-shrink: 0;
}


.place_contents article .place_card_bottom ul li p {}

.place_contents article .place_card_bottom ul li img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.place_contents article .place_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 4px rgba(51, 54, 67, 0.2);

}

.place_contents article .place_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* photo */

.photo {
    width: 100%;
    background: linear-gradient(var(--main-white), #E7E4E7);
    padding: 180px 0;
}


.photo_slide {
    width: 100%;
    height: 640px;
}

.photo_slide .swiper-wrapper {
    font-size: 5rem;
    display: flex;
}

.photo_slide .swiper-slide {
    width: 960px
        /*  !important */
    ;
    height: 640px;
    border-radius: 60px;
    overflow: hidden;
    flex-shrink: 0
        /* !important */
    ;
    opacity: .5;
    filter: blur(10px);
    transform: scale(0.9);
}

.photo_slide .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;

}

.photo_slide .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.swiper-wrapper .swiper-slide-active {
    border: 36px solid #BAA499;
    opacity: 1;
    filter: none;
    transform: scale(1);
}

.swiper-slide-active a img {}


.photo_slide .photo1 {}

.photo_slide .photo2 {}

.photo_slide .photo3 {}

.photo_slide .prev_next .prev {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -680px;
    z-index: 100;
    cursor: pointer;

}

.photo_slide .prev_next .next {
    position: absolute;
    right: 50%;
    margin-right: -680px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
}