@charset " utf-8";

@font-face {
    font-family: 'TmoneyRoundWind';
    src: url('../font/AnyConv.com__TmoneyRoundWindRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWind';
    src: url('../font/AnyConv.com__TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: 'ExtraBold';
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('../font/AnyConv.com__DungGeunMo.woff') format('woff');
    font-weight: 400;
    font-style: 'Regular';
}
@font-face {
    font-family: 'SOYO_Maple';
    src: url('../font/AnyConv.com__SOYO_Maple_Regular.woff') format('woff');
    font-weight: 400;
    font-style: 'Regular';
}
@font-face {
    font-family: 'SOYO_Maple';
    src: url('../font/AnyConv.com__SOYO_Maple_Bold.woff') format('woff');
    font-weight: 700;
    font-style: 'Bold';
}
@font-face {
    font-family: 'Stunning';
    src: url('../font/AnyConv.com__STUNNING.woff') format('woff');
    font-weight: 700;
    font-style: 'Bold';
}
@font-face {
    font-family: 'TuesdayNight';
    src: url('../font/AnyConv.com__TuesdayNight-Regular.woff') format('woff');
    font-weight: 400;
    font-style: 'Regular';
}