@charset " utf-8";

@font-face {
    font-family: 'TmoneyRoundWind';
    src: url('../font/AnyConv.com__TmoneyRoundWindRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWind';
    src: url('../font/AnyConv.com__TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: 'ExtraBold';
}


@font-face {
    font-family: 'DungGeunMo';
    src: url('../font/AnyConv.com__DungGeunMo.woff') format('woff');
    font-weight: 400;
    font-style: 'Regular';
}

@font-face {
    font-family: 'SOYO_Maple';
    src: url('../font/AnyConv.com__SOYO_Maple_Regular.woff') format('woff');
    font-weight: 400;
    font-style: 'Regular';
}

@font-face {
    font-family: 'SOYO_Maple';
    src: url('../font/AnyConv.com__SOYO_Maple_Bold.woff') format('woff');
    font-weight: 700;
    font-style: 'Bold';
}

@font-face {
    font-family: 'Stunning';
    src: url('../font/AnyConv.com__STUNNING.woff') format('woff');
    font-weight: 700;
    font-style: 'Bold';
}

@font-face {
    font-family: 'TuesdayNight';
    src: url('../font/AnyConv.com__TuesdayNight-Regular.woff') format('woff');
    font-weight: 400;
    font-style: 'Regular';
}



/* 2차 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../font/NanumSquareRoundL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../font/NanumSquareRoundR.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../font/NanumSquareRoundB.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('../font/NanumSquareRoundEB.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
/* Pretendard */

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/PretendardBlack.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}