@charset "utf-8";

/* h2 */


.inner .tit {
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 150px;
}

.inner .tit p {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--main-middle-grey);
}

.inner .tit .title_bottom {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
}

.inner .tit .title_bottom h2 {
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.inner .tit .title_bottom h2>img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.inner .tit .title_bottom .next {
    /* width: 206px; */
    height: 42px;
    background: var(--main-black);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 8px 0 16px;
}

.inner .tit .title_bottom .next p {
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
}

.inner .tit .title_bottom .next img {
    width: 24px;
    height: 24px;
    font-size: 10px;
    color: #fff;
}


/* notice */
.notice {
    width: 100%;
    height: 46px;
    background: #222;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.notice .simply-scroll {
    display: flex;
    cursor: pointer;
}

.noticeAni {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.simply-scroll .simply-scroll-clip {
    overflow: hidden;
    /* 있어야 움직임 */
    display: flex;
}

.notice ul {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.notice ul li {
    gap: 16px;
    flex: 1;
}

.notice ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'DungGeunMo';
    letter-spacing: 1.2px;
}

.notice ul li a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.notice ul li a p {
    padding: 0 16px;
    color: var(--main-yellow);
    border-right: 2px solid #fff;
}

.notice ul li a span {
    padding: 0 16px;
}

/* map */
.map {
    width: 100%;
    height: 812px;
    background: linear-gradient(#E8F8FE, #7CD3FF);
    /* display: flex; */
    overflow: hidden;
    position: relative;

}

.main_vector {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.main_vector img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map .inner {
    height: 100%;
    position: relative;
}





.map_top {
    width: 362px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: rgba(242, 242, 242, 0.2);
    border-radius: 100px;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.8rem;
    z-index: 100;
}

.map_top .map_top_location>a,
.map_top_icon,
.map_top_setting {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.map_top .map_top_location>a {
    display: block;
    width: 220px;
    height: 32px;
    display: flex;
    background: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.map_top .map_top_location>a>img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.map_top .map_top_location>a>p {}

.map_top .map_top_location>a>span {}

.map_top .map_top_icon {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 50px;
}

.map_top .map_top_icon>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.map_top .map_top_icon>a>img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.map_top .map_top_setting {
    width: 64px;
    height: 32px;
    background: #fff;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.map_top .map_top_setting>p {}

.map_top .map_top_setting>img {
    width: 24px;
    height: 24px;
}

.map_both {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map .inner .main_visual {
    width: 834px;
    height: 834px;
    position: relative;
    left: 0;
    top: 38%; 
 transform: translateY(-50%); 
    background: #fff;
    border-radius: 50%;

}
.map .inner .main_visual img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}



.map_right {
    width: 300px;
    height: 664px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.map_right .map_right_btn {
    display: flex;
    margin-bottom: 10px;
}

.map_right .map_right_btn button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.map_right .map_right_btn button img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.map_right .map_right_top {
    width: 100%;
    height: 454px;
    border-radius: 30px 30px 10px 10px;
    background: #fff;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.map_right .map_right_top img {
    width: 268px;
    height: 176px;
    object-fit: cover;
    border-radius: 15px;

}

.map_right .map_right_top h2 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
}

.map_right .map_right_top h2 img {
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.map_right .map_right_top>p {
    flex: 1;
    font-size: 0.8rem;
    line-height: 22px;
    padding: 0px 24px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map_right .map_right_top p img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.map_right .map_right_top .main_today {
    width: 100%;
    height: 50px;
    padding: 0 24px 15px;
    display: flex;
    justify-content: space-between;
}

.map_right .map_right_top .main_today img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.map_right .map_right_top .main_today .main_today_txt {
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.map_right .map_right_top .main_today .main_today_txt h3 {
    font-family: var(--Soyomaple);
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: -7.2px;
}

.map_right .map_right_top .main_today .main_today_txt span {
    font-size: 0.8rem;
    position: absolute;
    left: 49px;
    top: 0;
}

.map_right .map_right_top .main_today .main_today_txt p {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8rem;
    font-weight: 600;
}

.map_right .map_right_top .main_today .main_today_txt em {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.6rem;
}

.map_right .map_right_top .main_today ul.main_today_sun {
    width: 86px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}

.map_right .map_right_top .main_today ul.main_today_sun>li {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--main-light-grey);
}

.map_right .map_right_top .main_today ul.main_today_sun>li>p {
    font-size: 0.6rem;

}

.map_right .map_right_top .main_today ul.main_today_sun>li>img {
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.map_right .map_right_top .main_right_go {
    width: 100%;
    height: 60px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--main-light-grey);
}

.map_right .map_right_top .main_right_go>img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.map_right .map_right_top .main_right_go>p {
    flex: 1;
    font-size: 0.9rem;
}

.map_right .map_right_top .main_right_go ul.go_icons {
    width: 52px;
    height: 20px;
    display: flex;
    gap: 12px;
}

.map_right .map_right_top .main_right_go ul.go_icons>li>a {
    width: 20px;
    height: 100%;
}

.map_right .map_right_top .main_right_go ul.go_icons>li>a>img {
    width: 100%;
    height: 100%;

}

.map_right .map_right_bottom {
    width: 100%;
    height: 162px;
    background: #fff;
    margin-top: 8px;
    border-radius: 10px 10px 30px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

}

.map_right .map_right_bottom>ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.map_right .map_right_bottom>ul>li {
    width: 50%;
    height: 33.33%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.map_right .map_right_bottom>ul>li>div {
    width: 16px;
    height: 16px;
    border-radius: 50%;

}

.map_right .map_right_bottom>ul>li:nth-of-type(1)>div {
    background: var(--sub-red);
}

.map_right .map_right_bottom>ul>li:nth-of-type(2)>div {
    background: var(--sub-yellow);

}

.map_right .map_right_bottom>ul>li:nth-of-type(3)>div {
    background: var(--sub-green);

}

.map_right .map_right_bottom>ul>li:nth-of-type(4)>div {
    background: var(--sub-purple);

}

.map_right .map_right_bottom>ul>li:nth-of-type(5)>div {
    background: var(--sub-blue);

}

.map_right .map_right_bottom>ul>li:nth-of-type(6)>div {
    background: #ccc;
}

.map_right .map_right_bottom>ul>li>p {
    padding-left: 12px;
    font-size: 0.8rem;
}




/* greeting */


.greeting .inner {
    height: 1230px;
    padding: 200px 0;
}

.greeting .inner>h2.greet {
    width: 100%;
    height: 270px;
    margin-bottom: 120px;
}

.greeting .inner>h2.greet>.greeting_top {
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
}

.greeting .inner>h2.greet>.greeting_top>p {
    font-size: 2.5rem;
    font-weight: 500;
}

.greeting .inner>h2.greet>.greeting_top>img {
    width: 70px;
    height: 70px;
}

.greeting .inner>h2.greet>p {
    font-size: 67px;
    font-family: var(--Stunning);
    color: var(--main-black);
    line-height: 1.4;
}

.greeting .inner>h2.greet>p>span.text_container {
    display: inline-block;
    position: relative;
    font-family: var(--Stunning);
    font-size: 67px;
    margin: 0 45px;
}

.greeting .inner>h2.greet>p>span.text_container>span.overlay_text {
    font-family: var(--TuesdayNight);
    color: var(--main-skyblue);
    font-size: 12rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    z-index: -1;
}

.greeting .inner>h2.greet>p>em {
    position: relative;
    z-index: -10;
}

.greeting_photo {
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.greeting_photo ul.greeting_photo_top {
    width: 100%;
    height: 207px;
    /* background: #ccc; */
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.greeting_photo ul.greeting_photo_bottom {
    width: 100%;
    height: 207px;
    /* background: #ccc; */
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.greeting_photo .greeting_photo_top li {
    width: 207px;
    height: 207px;
}

.greeting_photo .greeting_photo_top li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.greeting_photo .greeting_photo_top li:nth-child(2n+1) img {
    border-radius: 50%;
}


.greeting_photo .greeting_photo_bottom li:nth-child(2) {
    width: 207px;
    height: 207px;
}

.greeting_photo .greeting_photo_bottom li:nth-child(3) {
    width: 207px;
    height: 207px;
}

.greeting_photo .greeting_photo_bottom li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.greeting_photo ul.greeting_photo_bottom .txt {
    width: 415px;
    height: 100%;
    position: relative;
}

.greeting_photo ul.greeting_photo_bottom .txt h3 {
    width: 300px;
    font-family: var(--Stunning);
    font-weight: 700;
    font-size: 55px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* info */

.info {
    width: 100%;
    height: 500px;
    background-image: url(../img/info_bg.jpg);
}

.info .inner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .inner ul {
    width: 1180px;
    height: 155px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}

.info .inner ul li a {}

.info .inner ul li a .info_icon_bg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.info .inner ul li a .info_icon_bg .info_icon_inner {
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .inner ul li a .info_icon_bg.light .info_icon_inner {
    width: 100%;
    height: 100%;
    background: #fff;
    mix-blend-mode: overlay;
    filter: blur(70px);
}

.info .inner ul li a .info_icon_bg .info_icon_inner>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.info>.inner>ul>li>a>p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}





/* route */

.route .inner {
    /* background: #eee; */
    padding-top: 200px;
    padding-bottom: 250px;
}

.route_contents {
    width: 100%;
    height: 410px;
}

.route_contents ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.route_contents ul li.route_place {
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.route_contents ul li.route_place>img {
    width: 100%;
    height: 290px;
    border-radius: 15px;
    object-fit: cover;
}

.route_contents ul li.route_place .route_place_txt {
    width: 100%;
    height: 71px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.route_contents ul li.route_place .route_place_txt>h3 {
    height: 37px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.route_contents ul li.route_place .route_place_txt>h3>a {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.route_contents ul li.route_place .route_place_txt>h3>a>img {
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.route_contents ul li.route_place .route_place_txt>span {
    font-size: 0.8rem;
}


.route_contents ul li.route_time {
    height: 112px;
    flex: 1;
}

.route_contents ul li.route_time img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* congest */
.congest {
    background: var(--main-black);
}

.congest .inner {
    height: 950px;
    /* background: #ccc; */
    padding: 200px 0;
}

.congest .inner .tit {
    color: #fff;
}

.congest .inner .tit .title_bottom a {
    background: #fff;
}

.congest .inner .tit .title_bottom a p {
    color: var(--main-black);
}

.congest .inner .tit .title_bottom a img {}




.congest_contents {
    width: 100%;
    height: 338px;
    display: flex;
}

.congest_contents .congest_circle {
    width: 426px;
    height: 100%;
    position: relative;
}

.congest_contents .congest_circle>button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #34C759;
    border: none;
    outline: none;
    box-shadow: inset 3px 4px 8px rgba(255, 255, 255, 0.3), inset -3px -4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 45%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-family: var(--Soyomaple);
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    z-index: 50;
    cursor: pointer;
}

.congest_contents .circle1 {
    background: url(../img/circle1.png) center/cover;
}

.congest_contents .circle2 {
    background: url(../img/circle2.png) center/cover;
}

.congest_contents .circle2>button {
    background: #CD1B11;
}

.congest_contents .circle3 {
    background: url(../img/circle3.png) center/cover;
}

.congest_contents .circle3>button {
    background: #FFC509;
}






.congest_contents .congest_circle ul li {
    width: 92px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .6s;
}

.congest_contents .congest_circle:hover ul li {
    opacity: 1;
}



.congest_contents .congest_circle>ul>li:nth-child(1) {
    background: url(../img/congest_comment.png) center/cover;
    position: absolute;
    right: 30px;
    top: 20px;
}

.congest_contents .congest_circle>ul>li:nth-child(2) {
    background: url(../img/congest_comment.png) center/cover;
    position: absolute;
    right: 20px;
    bottom: 80px;
}

.congest_contents .congest_circle>ul>li:nth-child(3) {
    background: url(../img/congest_comment_odd.png) center/cover;
    position: absolute;
    left: 30px;
    top: 20px;
}

.congest_contents .congest_circle>ul>li:nth-child(4) {
    background: url(../img/congest_comment_odd.png) center/cover;
    position: absolute;
    left: 10px;
    bottom: 80px;
}






.congest_contents .congest_circle>ul>li .comment_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.congest_contents .congest_circle>ul>li .comment_txt>span {
    font-size: 0.6rem;
    text-align: center;
}

.congest_contents .congest_circle>ul>li .comment_txt>strong {
    font-size: 1.1rem;
    font-weight: 800;
}



/* place */
.place {
    background: rgba(138, 209, 244, .2);
}

.place .inner {
    padding: 200px 0;
}

.place_contents {
    width: 100%;
    height: 418px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.place_contents article {
    width: 268px;
    height: 355px;
    position: relative;
}

.place_contents article.place_card1 {
    transform: rotate(-15deg);
}

.place_contents article.place_card3 {
    transform: rotate(15deg);
}


.place_contents article .place_card_top {
    width: 100%;
    height: 72px;
    background: var(--main-black);
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: 3px 3px 4px rgba(51, 54, 67, 0.2);
}

.place_contents article .place_card_top .card_title {}

.place_contents article .place_card_top .card_title span {
    font-size: 0.6rem;
    color: var(--main-grey);
}

.place_contents article .place_card_top .card_title h3 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 6px;
}

.place_contents article .place_card_top .card_star {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3px;
}

.place_contents article .place_card_top .card_star img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.place_contents article .place_card_top .card_star p {
    font-size: 0.7rem;
    font-weight: 500;
}

.place_contents article .place_card_top .card_star em {
    font-size: 0.4rem;
}

.place_contents article .place_card_bottom {
    width: 100%;
    height: 246px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    padding: 0 10px;
    box-shadow: 3px 3px 4px rgba(51, 54, 67, 0.2);

}

.place_contents article .place_card_bottom .place_loca {
    width: 100%;
    font-size: 0.6rem;
    color: #666;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
}

.place_contents article .place_card_bottom .place_loca img {
    width: 14px;
    height: 14px;
    object-fit: cover;
}

.place_contents article .place_card_bottom ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.place_contents article .place_card_bottom ul li {
    font-size: 0.7rem;
    background: var(--main-grey);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50px;
    flex-shrink: 0;
}


.place_contents article .place_card_bottom ul li p {}

.place_contents article .place_card_bottom ul li img {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.place_contents article .place_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%);
    box-shadow: 3px 3px 4px rgba(51, 54, 67, 0.2);

}

.place_contents article .place_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* photo */

.photo {
    width: 100%;
    background: linear-gradient(#fff, #E7E4E7);
    padding: 180px 0;
}


.photo_slide {
    width: 100%;
    height: 640px;
}

.photo_slide .swiper-wrapper {
    font-size: 5rem;
    display: flex;
}

.photo_slide .swiper-slide {
    width: 960px
        /*  !important */
    ;
    height: 640px;
    border-radius: 60px;
    overflow: hidden;
    flex-shrink: 0
        /* !important */
    ;
    opacity: .5;
    filter: blur(10px);
    transform: scale(0.9);
}

.photo_slide .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;

}

.photo_slide .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.swiper-wrapper .swiper-slide-active {
    border: 36px solid #BAA499;
    opacity: 1;
    filter: none;
    transform: scale(1);
}

.swiper-slide-active a img {}


.photo_slide .photo1 {}

.photo_slide .photo2 {}

.photo_slide .photo3 {}

.photo_slide .prev_next .prev {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -680px;
    z-index: 100;
    cursor: pointer;

}

.photo_slide .prev_next .next {
    position: absolute;
    right: 50%;
    margin-right: -680px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
}